node_modules
**/node_modules
.git
.DS_Store
.env
.env.*
**/.env
**/.env.*
.turbo
**/.turbo
dist
**/dist
.next
**/.next
*.log
apps/web
docs
scripts
.turbo
AGENTS.md
README.md
railway.toml
**/railway.toml
